torch==2.2.2
transformers==4.41.2
datasets==2.19.1
scikit-learn==1.4.2
scipy==1.13.0
numpy==1.26.4
pandas==2.2.2
lime==0.2.0.1
shap==0.45.1
matplotlib==3.8.4
captum==0.7.0
accelerate==0.29.3
fsspec==2024.3.1